<p style="color: green"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Passengers</th>
      <th>Total Fare</th>
      <th>Bus</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.schedule %></td>
        <td><%= trip.origin %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.number_of_passengers %></td>
        <td><%= trip.total_fare %></td>
        <td><%= trip.bus.plate_number %></td>
        <td>
          <%= link_to 'Show', trip %> |
          <%= link_to 'Edit', edit_trip_path(trip) %> |
          <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Trip', new_trip_path %>