<h1>New Trip</h1>

<%= form_with(model: @trip) do |form| %>
  <div class="field">
    <%= form.label :schedule %>
    <%= form.datetime_field :schedule %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :bus_id, 'Bus' %>
    <%= form.collection_select :bus_id, Bus.all, :id, :plate_number, prompt: "Select Bus" %>
  </div>

  <div class="field">
    <%= form.label :number_of_passengers %>
    <%= form.number_field :number_of_passengers %>
  </div>

  <div class="field">
    <%= form.label :unit_fare %>
    <%= form.number_field :unit_fare %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>