<p style="color: green"><%= notice %></p>

<h1>Trip Details</h1>

<p>
  <strong>Schedule:</strong> <%= @trip.schedule %><br>
  <strong>Origin:</strong> <%= @trip.origin %><br>
  <strong>Destination:</strong> <%= @trip.destination %><br>
  <strong>Passengers:</strong> <%= @trip.number_of_passengers %><br>
  <strong>Total Fare:</strong> <%= @trip.total_fare %><br>
  <strong>Bus:</strong> <%= @trip.bus.plate_number %><br>
  <strong>Drivers:</strong> <%= @drivers.pluck(:name).join(', ') %>
</p>

<h2>Passengers</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Number</th>
      <th>Email Address</th>
    </tr>
  </thead>
  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= passenger.contact_number %></td>
        <td><%= passenger.email_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
<%= button_to 'Destroy', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>