<h1>New Reservation</h1>

<%= form_with(model: @reservation) do |form| %>
  <div class="field">
    <%= form.label :passenger_id, 'Passenger' %>
    <%= form.collection_select :passenger_id, Passenger.all, :id, :name, prompt: "Select Passenger" %>
  </div>

  <div class="field">
    <%= form.label :trip_id, 'Trip' %>
    <%= form.collection_select :trip_id, Trip.all, :id, :schedule, prompt: "Select Trip" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>