<p style="color: green"><%= notice %></p>

<h1>Reservation Details</h1>

<p>
  <strong>Passenger:</strong> <%= @reservation.passenger.name %><br>
  <strong>Trip:</strong> <%= @reservation.trip.schedule %> from <%= @reservation.trip.origin %> to <%= @reservation.trip.destination %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
<%= button_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' } %>