<p style="color: green"><%= notice %></p>

<h1>Passenger Details</h1>

<p>
  <strong>Name:</strong> <%= @passenger.name %><br>
  <strong>Contact Number:</strong> <%= @passenger.contact_number %><br>
  <strong>Email Address:</strong> <%= @passenger.email_address %>
</p>

<h2>Trips</h2>

<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Bus</th>
    </tr>
  </thead>
  <tbody>
    <% @passenger.trips.each do |trip| %>
      <tr>
        <td><%= trip.schedule %></td>
        <td><%= trip.origin %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.bus.plate_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
<%= button_to 'Destroy', @passenger, method: :delete, data: { confirm: 'Are you sure?' } %>