<p style="color: green"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Number</th>
      <th>Bus</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.contact_number %></td>
        <td><%= driver.bus.plate_number if driver.bus %></td>
        <td>
          <%= link_to 'Show', driver %> |
          <%= link_to 'Edit', edit_driver_path(driver) %> |
          <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Driver', new_driver_path %>