<h1>New Driver</h1>

<%= form_with(model: @driver) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number %>
  </div>

  <div class="field">
    <%= form.label :bus_id, 'Bus' %>
    <%= form.collection_select :bus_id, Bus.all, :id, :plate_number, prompt: "Select Bus" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>